<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyMapper">

   <resultMap type="Company" id="company_rm">
      <id property="memNo" column="MEM_NO"/>
      <result property="memId" column="MEM_ID"/>
      <result property="cooName" column="COO_NAME"/>
      <result property="categoryNm" column="CATEGORY_NM"/>
      <result property="cooNo" column="COO_NUM"/>
      <result property="memImgPath" column="MEM_IMG_PATH"/>
      <result property="memImgName" column="MEM_IMG_NAME"/>
   </resultMap>
   
   <resultMap type="Application" id="application_rm">
      <id property="rsrvtNo" column="RESERVATION_NO"/>
      <result property="memNm" column="MEM_NAME"/>
      <result property="memPhone" column="MEM_PHONE"/>
      <result property="carName" column="CAR_NAME"/>
      <result property="testDriveDt" column="TEST_DRIVE_DATE"/>
      <result property="approvalStatus" column="APPROVAL_STATUS"/>
   </resultMap>
   
   <resultMap type="MemberFile" id="memberFile_rm">
      <id property="memImgNo" column="MEM_IMG_NO"/>
      <result property="memImgPath" column="MEM_IMG_PATH"/>
      <result property="memImgName" column="MEM_IMG_NAME"/>
      <result property="memNo" column="MEM_IMG_LEVEL"/>
   
   </resultMap>
   
   <select id="getListCount1" parameterType="_int" resultType="_int">
			SELECT COUNT(*)
			FROM TES_DR_RESERVATION
			JOIN TEST_DRIVE_CAR USING(TEST_DRIVE_CAR_NO)
			WHERE MEM_NO2 = #{memberNo}
   </select>

   <select id="getListCount2" parameterType="map" resultType="_int">
			SELECT COUNT(*)
			FROM TES_DR_RESERVATION
			JOIN TEST_DRIVE_CAR USING(TEST_DRIVE_CAR_NO)
			WHERE MEM_NO2 = #{memberNo}
			AND APPROVAL_STATUS = #{status}
   </select>
   
   <select id="getCompanyProfile" parameterType="_int" resultMap="company_rm">
			SELECT MEM_NO, MEM_ID, COO_NAME, CATEGORY_NM, COO_NUM, MEM_IMG_PATH, MEM_IMG_NAME
			FROM MEMBER
			LEFT OUTER JOIN MEMBER_FILE USING (MEM_NO)
			JOIN COO_MEMBER USING (MEM_NO)
			JOIN CATEGORY USING (CATEGORY_CD)
			WHERE MEM_NO = #{memberNo}
			AND (MEM_IMG_LEVEL IS NULL OR MEM_IMG_LEVEL=0)
   </select>   
   
   <select id="selectWatingCount" parameterType="_int" resultType="_int">
   		SELECT COUNT(*)
			FROM TES_DR_RESERVATION
			JOIN MEMBER USING(MEM_NO)
      JOIN TEST_DRIVE_CAR USING(TEST_DRIVE_CAR_NO)
			WHERE MEM_NO2 = #{memberNo}
			AND APPROVAL_STATUS = 'N'
   </select>
   
   <select id="selectReviewCount" parameterType="_int" resultType="_int">
       SELECT COUNT(*)
       FROM DRIVE_REVIEW
       JOIN TES_DR_RESERVATION USING(RESERVATION_NO)
       JOIN TEST_DRIVE_CAR USING(TEST_DRIVE_CAR_NO)
       WHERE MEM_NO2 = #{memberNo}
   </select>
   
   <select id="selectSchedule" parameterType="map" resultMap="application_rm">
   		SELECT RESERVATION_NO, MEM_NAME, MEM_PHONE, CAR_NAME, TEST_DRIVE_DATE
			FROM TES_DR_RESERVATION
			JOIN MEMBER USING(MEM_NO)
			JOIN TEST_DRIVE_CAR USING(TEST_DRIVE_CAR_NO)
			JOIN CAR_INFO USING(CAR_NO)
			WHERE MEM_NO2 = #{memberNo}
			AND APPROVAL_STATUS = 'A'
			AND TO_DATE(TEST_DRIVE_DATE, 'YY-MM-DD') = TO_DATE(#{date}, 'YY-MM-DD')
			ORDER BY TEST_DRIVE_DATE
   </select>
   
   <select id="selectAplList1" parameterType="_int" resultMap="application_rm">
			SELECT RESERVATION_NO, MEM_NAME, MEM_PHONE, CAR_NAME, TEST_DRIVE_DATE, APPROVAL_STATUS
			FROM TES_DR_RESERVATION
			JOIN MEMBER USING(MEM_NO)
			JOIN TEST_DRIVE_CAR USING(TEST_DRIVE_CAR_NO)
			JOIN CAR_INFO USING(CAR_NO)
			WHERE MEM_NO2 = #{memberNo}
			ORDER BY RESERVATION_NO DESC
   </select>
   
   <select id="selectAplList2" parameterType="map" resultMap="application_rm">
			SELECT RESERVATION_NO, MEM_NAME, MEM_PHONE, CAR_NAME, TEST_DRIVE_DATE, APPROVAL_STATUS
			FROM TES_DR_RESERVATION
			JOIN MEMBER USING(MEM_NO)
			JOIN TEST_DRIVE_CAR USING(TEST_DRIVE_CAR_NO)
			JOIN CAR_INFO USING(CAR_NO)
			WHERE MEM_NO2 = #{memberNo}
			AND APPROVAL_STATUS = #{status}
			ORDER BY RESERVATION_NO DESC
   </select>
   
   <update id="updateAplStatus" parameterType="Application">
	    UPDATE TES_DR_RESERVATION
			SET APPROVAL_STATUS = #{approvalStatus}
			WHERE RESERVATION_NO = #{rsrvtNo}
   </update>
   
   <select id="selectFile" parameterType="_int" resultMap="memberFile_rm">
	   	SELECT * FROM MEMBER_FILE
	   	WHERE MEM_NO = #{memNo}
   </select>
   
   <select id="selectPwd" parameterType="_int" resultType="string">
   		SELECT MEM_PWD
			FROM MEMBER
			WHERE MEM_NO = #{memNo}
   </select>
   
   <update id="updateMember" parameterType="Member">
	    UPDATE MEMBER SET
			MEM_PWD = #{memberPwd},
			MEM_EMAIL = #{memberEmail},
			MEM_PHONE = #{phone},
			MEM_ADDRESS = #{memberAddr}
			WHERE MEM_NO = #{memberNo}
   </update>
   
   <select id="selectAplCount" parameterType="_int" resultType="_int">
	    SELECT COUNT(*) 
			FROM TEST_DRIVE_CAR
			WHERE MEM_NO2 = #{memberNo}
			AND (CAR_STATUS = 'Y' OR CAR_STATUS = 'N')
   </select>
   
   <update id="changeProfileImg" parameterType="map">
   		UPDATE MEMBER_FILE SET
			MEM_IMG_NAME = #{fileName}
			WHERE MEM_NO = #{memberNo} AND MEM_IMG_LEVEL = 0
   </update>
   
</mapper>
