<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyCarMapper">
	
	<resultMap type="TestCars" id="testCars_rm">
		<id property="testDrivecCarNo" column="TEST_DRIVE_CAR_NO"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="carName" column="CAR_NAME"/>
		<result property="carModel" column="CAR_MODEL"/>
		<result property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="memNo2" column="MEM_NO2"/>
	</resultMap>
	
	<!-- 차량 목록 조회 -->
	<select id="carList" parameterType="_int" resultMap="testCars_rm">
		SELECT CAR_NO, CAR_NAME, CAR_MODEL
		FROM CAR_INFO
		JOIN TEST_DRIVE_CAR USING(CAR_NO)
		WHERE MEM_NO2 = 2
	</select>	
	
	<!-- 차량 검색 -->
	<!-- <select id="carSearchList" parameterType="string" resultMap="testCars_rm">
		SELECT  CAR_NO, CAR_NAME, CAR_MODEL, FILE_NO, FILE_PATH, FILE_NAME
		FROM CAR_INFO
		JOIN TEST_DRIVE_CAR USING(CAR_NO)
		JOIN C_ATTACHMENT USING(CAR_NO)
		WHERE CAR_NAME LIKE '%' || #{carName}  || '%'
		OR CAR_MODEL LIKE '%' || #{carName}  || '%'
	</select>	 -->
	<!-- 차량검색 -->
	<select id="carSearchList" parameterType="string" resultMap="testCars_rm">
		SELECT CAR_NO, CAR_NAME, CAR_MODEL
		FROM CAR_INFO
		WHERE CAR_NAME LIKE '%' || #{carName}  || '%'
		OR CAR_MODEL LIKE '%' || #{carName}  || '%'
	</select>	
	
	<!-- 추가차량 db검색 -->
	<select id="carListEx"  parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM TEST_DRIVE_CAR
		WHERE MEM_NO2 = 2
		AND CAR_NO = #{carNo}
	</select>
	
	<!-- 차량 추가 -->
	<insert id="addCar" parameterType="map">
		INSERT INTO TEST_DRIVE_CAR
		VALUES(SEQ_TDC_NO.NEXTVAL, #{carNo}, 2)
	</insert>
</mapper>

