<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEM_NO"/>
		
   		<result property="memberId" column="MEM_ID"/>
  		<result property="memberPwd" column="MEM_PWD"/>
  		<result property="memberNm" column="MEM_NAME"/>
  		<result property="nickName" column="MEM_NICKNAME"/>
  		<result property="memberEmail" column="MEM_EMAIL"/>
  		<result property="phone" column="MEM_PHONE"/>
  		<result property="memberAddr" column="MEM_ADDRESS"/>
  		<result property="memberGrade" column="MEM_GRADE"/>
  		<result property="memberStatus" column="SIGN_STATUS"/>
  		<result property="signDt" column="SIGN_DT"/>
	</resultMap> 
	
	
	<resultMap type="Board" id="board_rm">
			
			<id property="boardNo" column="BOARD_NO"/>
			
			<result property="boardTitle" column="BOARD_TITLE"/>
			<result property="boardContent" column="BOARD_CONTENT"/>
			<result property="memberId" column="MEM_ID"/>
			<result property="readCount" column="READ_COUNT"/>
			<result property="categoryName" column="CATEGORY_NM"/>
			<result property="boardCreateDate" column="BOARD_CREATE_DT"/>
			<result property="boardModifyDate" column="BOARD_MODIFY_DT"/>
			<result property="boardStatus" column="BOARD_STATUS"/>
			<result property="boardCode" column="BOARD_CD"/>
			<result property="boardName" column="BOARD_NM"/>
			
		</resultMap>
		
		<resultMap type="Attachment" id="attachment_rm">
			<id property="fileNo" column="FILE_NO"/>
			
			<result property="filePath" column="FILE_PATH"/>
			<result property="fileName" column="FILE_NAME"/>
			<result property="fileLevel" column="FILE_LEVEL"/>
			<result property="parentBoardNo" column="PARENT_BOARD_NO"/>
		
		</resultMap>
	
	
	
	
	<!-- 아이디 중복 체크 -->
	<select id="idDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_ID = #{memberId}
		AND SIGN_STATUS = 'N'
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="nickDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_NICKNAME = #{memberNickName}
		AND SIGN_STATUS = 'N'
	</select>
	
	
	<!-- 회원 가입 -->
	<insert id="SignUpAction" parameterType="Member">
	INSERT INTO MEMBER
	VALUES(#{memberNo}, #{memberId}, #{memberPwd}, #{memberNm}, #{nickName},
						#{memberEmail},  #{phone}, #{memberAddr}, DEFAULT, DEFAULT, DEFAULT)
	
	</insert>
	
	<select id="memNo" resultType="_int">
		SELECT SEQ_MNO.CURRVAL FROM DUAL
	</select>
	
	<!-- 프로필 저장 -->
		<insert id="insertMemberFile" parameterType="list">
		INSERT INTO MEMBER_FILE
		SELECT SEQ_MFNO.NEXTVAL, A.* FROM (
			
			<foreach collection="list" item="item" separator="UNION ALL">
				SELECT #{item.memImgPath} MEM_IMG_PATH,
							 #{item.memImgName} MEM_IMG_NAME,
							 #{item.memImgLevel} MEM_IMG_LEVEL,
							 #{item.memNo} MEM_NO
				FROM DUAL
			</foreach>
			
			)A
		</insert>
		
		
	<!-- 로그인  -->
	<select id="loginAction" parameterType="Member" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEM_ID = #{memberId}
		AND SIGN_STATUS = 'N'
	</select>
	

	
	<!-- 다음 회원번호 -->
	<select id="nextMem" resultType="_int">
		SELECT SEQ_MNO.NEXTVAL FROM DUAL
	</select>
	
	
	<!-- 업체 회원가입 공통부분 -->
	<insert id="cooSignUpAction" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{memberNo}, #{memberId}, #{memberPwd}, #{memberNm}, 'NULL',
						#{memberEmail},  #{phone}, #{memberAddr}, 'C', 'Y', DEFAULT)
	
	</insert>
	
	
	<!-- COO_MEMBER 테이블 추가(업체 나머지 부분 insert) -->
	<insert id="cooMemberInsert" parameterType="Member">
		INSERT INTO COO_MEMBER
		VALUES(#{memberNo}, #{cooName}, #{cooNumber}, #{brandCategory})
	</insert>
	
	
	<!-- 회원 정보 수정 -->
	<update id="updateAction" parameterType="map">
		UPDATE MEMBER SET
			MEM_PHONE = #{phone},
			MEM_ADDRESS = #{memberAddr},
			MEM_NICKNAME = #{nickName}
		WHERE MEM_NO = #{memberNo}
	</update>
	
	
	<!-- 비밀번호 조회 -->
	<select id="selectPwd" parameterType="_int" resultType="string">
		SELECT MEM_PWD FROM MEMBER
		WHERE MEM_NO = #{memberNo}
	</select>
	
	
	<!-- 비밀번호 변경 -->
	<update id="updatePwd" parameterType="map">
		UPDATE MEMBER SET
		MEM_PWD = #{newPwd}		<!-- map에 지정된 데이터의 key값을 직접 작성 -->
		WHERE MEM_NO = #{memberNo}
	</update>
	
	
	<!-- 프로필 변경 -->
	<delete id="deleteProfile" parameterType="_int">
		DELETE FROM MEMBER_FILE
		WHERE MEM_IMG_NO = #{memImgNo}
	</delete>
	
	<insert id="loginMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL, #{memberId}, #{memberPwd}, #{memberNm}, null, null, null, null, DEFAULT, DEFAULT, DEFAULT)
	</insert>


	<insert id="naverMem" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL, #{memberId}, null, #{memberNm}, null, null, null, null, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	
	<!-- 아이디 찾기 -->
	<select id="findIdAction" parameterType="map" resultType="string">
		SELECT MEM_ID FROM MEMBER
		WHERE MEM_NAME = #{memberNm}
		AND MEM_EMAIL = #{memberEmail}
		AND SIGN_STATUS = 'N'
	</select>
	
	
	<!-- 비밀번호 찾기 -->
	<update id="findPwdAction" parameterType="map">
		UPDATE MEMBER SET
		MEM_PWD = #{memberPwd}
		WHERE MEM_ID = #{memberId}
		AND MEM_EMAIL = #{memberEmail}
	</update>
	
	
	
	<!-- 회원 탈퇴 -->
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER SET
		SIGN_STATUS = 'Y'
		WHERE MEM_NO = #{memberNo}
	</update>
	
	
	<!-- 내가 쓴 글 전체조회 -->
	<select id="selectList" parameterType="string" resultMap="board_rm">
			SELECT BOARD_NO, BOARD_TITLE, MEM_ID, READ_COUNT , CATEGORY_NM, BOARD_CREATE_DT, BOARD_NM
			FROM V_BOARD
			WHERE BOARD_STATUS = 'Y'
			AND MEM_ID = #{memberNo}
			ORDER BY BOARD_NO DESC
	</select>
	
	
	<!-- 내가 쓴 글 썸네일 조회 -->
	<select id="selectThumbnailList" parameterType="list" resultMap="attachment_rm">
		SELECT * FROM ATTACHMENT
		WHERE FILE_LEVEL = 0
		AND PARENT_BOARD_NO IN
		<foreach collection="list" item="board" open="(" close=")" separator=",">
			#{board.boardNo}
		</foreach>
	</select>
	
	
	<!-- 게시글 수 조회 -->
	<select id="bListNo" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM V_BOARD
		WHERE BOARD_STATUS = 'Y'
		AND MEM_ID = #{memberNo}
	</select>
	
	
	<!-- 카테고리별 게시글 조회 -->
		<select id="chooseList" parameterType="map" resultMap="board_rm">
			SELECT BOARD_NO, BOARD_TITLE, MEM_ID, READ_COUNT , CATEGORY_NM, BOARD_CREATE_DT, BOARD_NM
			FROM V_BOARD
			WHERE BOARD_STATUS = 'Y'
			AND MEM_ID = #{memberNo}
			AND BOARD_CD = #{boardCode}
			ORDER BY BOARD_NO DESC
	</select>
	
	
	<select id="addMem" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_ID = #{memberId}
	</select>
	
	
</mapper>