<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newsReplyMapper">


<resultMap type="newsReply" id="newsReply_rm">
		<!-- DB의 기본 키 -->
		<id property="replyNo" column="REPLY_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="replyCreateDate" column="REPLY_CREATE_DT" />
		<result property="replyStatus" column="REPLY_STATUS" />
		<result property="memberImageNo" column="MEM_IMG_NO" />
		<result property="newsNo" column="NEWS_NO" />
	</resultMap>
	
	
	<!-- 댓글 목록 조회 -->
	<select id="selectReplyList" parameterType="_int" resultMap="newsReply_rm">
		
		SELECT * FROM V_NEWS_REPLY
	WHERE NEWS_NO = #{newsNo}
		
	</select>
	
	<!-- 댓글 삽입  -->
	<insert id="insertReply" parameterType="map">
		INSERT INTO NEWS_REPLY
		VALUES(SEQ_NRO.NEXTVAL, #{replyContent}, DEFAULT, DEFAULT, #{memberImageNo}, #{newsNo})
	</insert> 
	

	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="Reply">
		UPDATE NEWS_REPLY SET
		REPLY_CONTENT = #{replyContent},
		REPLY_MODIFY_DT = SYSDATE
		WHERE REPLY_NO = #{replyNo}
		
	
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="_int">
		UPDATE NEWS_REPLY SET 
		REPLY_STATUS = 'N'
		
		WHERE REPLY_NO = #{replyNo}

	</delete>




</mapper>