<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testDriveMapper">

	<resultMap type="TestDrReservation" id="TestDrReservation_rm">
		<id property="reservationNo" column="RESERVATION_NO"/>
		<result property="testDriveCarNo" column="TEST_DRIVE_CAR_NO"/>
		<result property="memNo" column="MEM_NO"/>
		<result property="testDriveDate" column="TEST_DRIVE_DATE"/>
		<result property="approvalStatus" column="APPROVAL_STATUS"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="carName" column="CAR_NAME"/>
		<result property="carModel" column="CAR_MODEL"/>
		<result property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="memNo2" column="MEM_NO2"/>
	</resultMap>
	
	<resultMap type="TestCars" id="testCars_rm">
		<id property="testDrivecCarNo" column="TEST_DRIVE_CAR_NO"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="carName" column="CAR_NAME"/>
		<result property="carModel" column="CAR_MODEL"/>
		<result property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="memNo2" column="MEM_NO2"/>
		<result property="brand" column="CATEGORY_NM"/>
	</resultMap>
	
	<!-- 차량 목록 조회 -->
	<select id="selectCarList" parameterType="_int" resultMap="testCars_rm">
		SELECT DISTINCT(CAR_NO), CAR_NAME, CAR_MODEL, CATEGORY_NM
		FROM CAR_INFO
		JOIN TEST_DRIVE_CAR USING(CAR_NO)
		JOIN "CATEGORY" USING(CATEGORY_CD)
		WHERE CAR_STATUS = 'Y'
		ORDER BY CAR_NO
	</select>	
	
	
</mapper>

