<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- DB로 전달되는 값 중 null이 있으면 에러가 아닌 NULL 자체로 인식 -->
	</settings>
	
	<typeAliases>
			<typeAlias type="com.kh.youngchar.member.model.vo.MemberFile" alias="MemberFile" />
		 <typeAlias type="com.kh.youngchar.board.model.vo.Board" alias="Board"/>
      <typeAlias type="com.kh.youngchar.board.model.vo.Attachment" alias="Attachment"/>
      <typeAlias type="com.kh.youngchar.board.model.vo.Reply" alias="Reply"/>
			<typeAlias type="com.kh.youngchar.member.model.vo.Member" alias="Member" />
			<typeAlias type="com.kh.youngchar.cars.model.vo.Cars" alias="Cars" />
			
			<typeAlias type="com.kh.youngchar.company.model.vo.DriveReview" alias="DriveReview" />
			<typeAlias type="com.kh.youngchar.company.model.vo.Reply" alias="ReviewReply" />
			<typeAlias type="com.kh.youngchar.company.model.vo.TestCars" alias="TestCars" />
			<typeAlias type="com.kh.youngchar.company.model.vo.Application" alias="Application" />
			<typeAlias type="com.kh.youngchar.company.model.vo.Report" alias="Report" />
			
			<typeAlias type="com.kh.youngchar.chargerCompany.model.vo.ChargerCompany" alias="ChargerCompany" />
			<typeAlias type="com.kh.youngchar.chargerCompany.model.vo.CompanyImage" alias="CompanyImage" />

			<typeAlias type="com.kh.youngchar.testDrive.model.vo.TestDrReservation" alias="TestDrReservation" />
			<typeAlias type="com.kh.youngchar.testDrive.model.vo.CompanyMember" alias="CompanyMember" />
	
	</typeAliases>
	
	
	<mappers>
		<mapper resource="/mappers/admin-mapper.xml" />

		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/reply-mapper.xml"/>

		<mapper resource="/mappers/member-mapper.xml" />

		<mapper resource="/mappers/company-mapper.xml" />
		<mapper resource="/mappers/driveReview-mapper.xml" />
		<mapper resource="/mappers/companyCar-mapper.xml" />
		<mapper resource="/mappers/chargerCompany-mapper.xml" />
		
		<mapper resource="/mappers/testDrive-mapper.xml" />
	</mappers>
</configuration>